{% extends 'base.html' %}

{% block title %}About{% endblock title %}

{% block body %}
<b>
    <div class="form-group">
        <label for="First Name">First Name</label>
        <input type="First Name" class="form-control" id="First Name" name="First Name" placeholder="Karan">
    </div>      
    
    <div class="form-group">
        <label for="Last Name">Last Name</label>
        <input type="Last Name" class="form-control" id="Last Name" name="Last Name" placeholder="Katare">
    </div>      
    
    <div class="form-group">
        <label for="Email">Email</label>
        <input type="Email" class="form-control" id="Email" name="Email" placeholder="karankatare969@gamil.com">
    </div>      
    
    <div class="form-group">
        <label for="Phone">Phone Number</label>
        <input type="Phone" class="form-control" id="Phone" name="Phone" placeholder="+91 9322059704">
    </div>         

    <div class="form-group">
        <label for="Country">Country</label>
        <input type="Country" class="form-control" id="Country" name="Country" placeholder="India">
    </div>            
</b>
    {% endblock body %}