{% extends 'base.html' %}

{% block title %}Skills{% endblock title %}

{% block body %}
<div> 
    <b>
            Education Secondary (X)<bl>
            </b>
        <bl>
            <div> 
                        Hon.Ratnakarrao Gutte International School
                        (CBSE board)
                        Year of completion: 2024
                        <div>
                            I am currently an aspirant of class IX and In march I am supposed to be promoted to class X.
                        </div>
                        </div> 
</div> 
                    <div> 
                        <bl>
                          <b>  Trainings </b>
                        </bl>
                    </div> 
                    <div> 
                        <bl>
                            HTML
                            Self-Taught, Online
                </bl>
                <bl>
                Jul 2022 - Jul 2022
                </div> 
                <div> 
                    I have learnt Hyper Text Markup Language
                    commonly known as HTML and also am intrested in web
                    development too Sir/Mam.
                </div> 
                <div> 
                </bl>
                Python
                Self-Taught, Online
                Jun 2022 - Jun 2022
                <div>
                    I have self-taught myself Python during 2022's
                    <bl>
                June.
                    </div> 
                         It was a good experience and it had been good yet till
                </bl>
                this day. Also, I am looking forward to work with all of you.
            </div>
            <div>
                <b>
                    Projects 
                </b>
            </div>
            <div>
                Telegram Bot
                Nov 2022 - Dec 2022
            </div>
            <div>
                I have made a telegram bot for the users of telegram. It is a
                anime themed bot it was running on Heroku. 
            </div>
                <div>
                    It was a good
                    personal project experience for a matter of fact.
                </div>
                <div>
                    <b>
                        Skils 
                    </b>
                </div>
                <div>
                    Python : Intermediate
                </div>
                <div>
                    HTML :
                    Intermediate
                </div>
                <div>
                    Django :
                    Beginner
                    <div>
                        GitHub :
                        Intermediate
                    </div>
                    <div>
                        Heroku :
                        Intermediate
                    </div>
                    <div>
                        English Proficiency :
                        (Spoken)
                        Intermediate
                    </div>
                    <div>
English Proficiency :
(Written)
Intermediate
                    </div>

            {% endblock body %}